
<div class="wrapper fadeInDown vertical-align">

    <div id="formContent">
         <form [formGroup]="ngForm"  (ngSubmit)="addactor(ngForm.value)" novalidate>
            <div *ngIf="formError" class="alert alert-danger" role="alert">{{ formError }}</div>
            <div *ngIf="formAdded" class="alert alert-success" role="alert">{{ formAdded }}</div>
            
            <h5>Enter the following details</h5>
            <div class="form-group">
            <label>Username:</label>
		    <input [(ngModel)]="newActor.userName" type="text" id="login"  formControlName="email" class="fadeIn second" name="email" placeholder="Email Address / Username"  >
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input [(ngModel)]="newActor.password" type="password" id="password" formControlName="password" class="fadeIn third" name="password" placeholder="Password" >
                </div>
            <div class="form-group">
                <label>Confirm Password:</label>
                    <input [(ngModel)]="newActor.password" type="password" id="password" formControlName="password" class="fadeIn third" name="password" placeholder="Password" >
            </div> 
            
            <div class="form-group">
                <label>First Name:</label>
                <input [(ngModel)]="newActor.firstName" type="text" id="generic" formControlName="generic" class="fadeIn third" name="FirstName" placeholder="First Name" >
                </div>
            <div class="form-group">
                    <label>Last Name:</label>
                    <input [(ngModel)]="newActor.lastName" type="text" id="password" formControlName="generic" class="fadeIn third" name="LastName" placeholder="Last Name" >
                    </div>   
                    
                     
                    
                    <div class="form-group">
                      <label>Weight (kg):</label>
                      <input [(ngModel)]="newActor.actorWeight" type="number" max="250" min="10" id="generic" formControlName="password" class="fadeIn third" name="LastName" placeholder="10" >
                      </div>    
          
                               <div class="form-group">
                            <label> Height (cm) :</label>
                            <input [(ngModel)]="newActor.actorHeight" type="number" max="250" min="100" id="generic" formControlName="generic" class="fadeIn third" name="actorHeight" placeholder="100" >
                </div>
                                <div class="form-group">
                                    <label> Eye Color:</label>
                                    <input [(ngModel)]="newActor.actorEyeColor" type="text"  id="generic" formControlName="generic" class="fadeIn third" name="actorEyeColor" placeholder="Eye Color" >
                        </div>
                        <div class="form-group">
                            <label> Ethinicity:</label>
                            <input [(ngModel)]="newActor.actorEthinicity" type="text" id="generic" formControlName="generic" class="fadeIn third" name="password" placeholder="Ethinicity" >
                            </div>
                        
        
                        <!-- <div class="form-group">
                                        <label> Skills :</label>
                                        <input [(ngModel)]="newActor.actorSkills" type="text" id="password" formControlName="password" class="fadeIn third" name="password" placeholder="Password" >
                                        </div> -->
                         <!-- <div class="form-group">
                                    <label> Profile Image</label>

                                <input [(ngModel)]="newActor.actorOtherData" type="text" id="password" formControlName="password" class="fadeIn third" name="password" placeholder="Skills" >
                                <button type="button" (click)="fileInput.click()">
                                    <span>Upload</span>
                                    <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
                                  </button>   
                            
                            </div>                -->
                      

                        

                            <mat-form-field appearance="fill">
                              <mat-label>Birth Date</mat-label>
                              <input matInput [matDatepicker]="picker">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                        <div style="padding: 1em;">
                        <button class="btn btn-primary">Submit </button><a class="btn btn-danger" routerLink="">cancel</a>
                      </div>

                    

                    </form>

    </div>

</div>