<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Auditions Here </h1>
      <p>We publish handbooks, manuals, guides and other books for practicing engineers and academics in civil engineering and construction.  eBooks are available on www.mybooks.com COVID-19 announcement: Your order shipments may be delayed by a few days due to Coronavirus outbreak. Please allow some extra time for your orders to arrive..</p>
      <p><a class="btn btn-primary btn-lg" routerLink="/dashboard" role="button">Check All Auditions »</a></p>
    </div>
  </div>