<nav class="navbar navbar-expand-md bg-dark text-light justify-content-start">
    <div class="container text-light "><a class="navbar-nav navbar-left navbar-brand nav-link text-light bg-dark" href="/">AudiHere</a>
        <ul class="nav mr-auto justify-content-end">
         
            <li class="nav-item"><a class="text-light"  routerLink="register"class="nav-link" >Register</a></li>
        </ul>
        <form class="form-inline"><input class="form-control mr-sm-2" type="search" placeholder="Search Postings" aria-label="Search"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></form>
    </div>
</nav>

<router-outlet></router-outlet>
<footer class="page-footer font-small bg-dark fixed-bottom">
 
    <div class="footer-copyright text-center text-light">© 2020 Copyright:
      <a class="text-light bg-dark" href="#"> AudiHere.com</a>
    </div>
   
  
  </footer>
  <!-- Footer -->