<nav class="navbar navbar-expand-md bg-dark text-light justify-content-start">
    <div class="container text-light "><a class="navbar-nav navbar-left navbar-brand nav-link text-light bg-dark" routerLink="home">AudiHere</a>
        <ul class="nav mr-auto justify-content-end">
         
            <li *ngIf="!signin" class="nav-item"><a  class="text-light"  routerLink="/dashboard"class="nav-link" >Dashboard</a></li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a *ngIf="signin" class="nav-link active" routerLink="/login">Sign In</a>
            </li>
            <li class="nav-item">
              <a  *ngIf="signin" class="nav-link" routerLink="/register">Sign Up</a>
            </li>
            <li class="nav-item">
              <a  *ngIf="!signin" class="nav-link" (click)="logout();">Logout</a>
            </li>
          </ul>
    </div>
</nav>

<router-outlet></router-outlet>
<footer class="page-footer font-small bg-dark fixed-bottom">
 
    <div class="footer-copyright text-center text-light">© 2020 Copyright:
      <a class="text-light bg-dark" href="#"> AudiHere.com</a>
    </div>
   
  
  </footer>
  <!-- Footer -->